<!DOCTYPE html>
<html>

<head>
  <script src="static/face-api.js"></script>
  <script src="static/commons.js"></script>
  <script src="static/drawing.js"></script>
  <script src="static/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
      <canvas id="overlay"></canvas>
    </div>
</body>

<script>
  
  async function onPlay() {
    const videoEl = $('#inputVideo').get(0)

    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay())

    const result = await faceapi.detectSingleFace(videoEl, new faceapi.SsdMobilenetv1Options(0.9))
    if (result) {
      drawDetections(videoEl, $('#overlay').get(0), [result], true)
    }

    setTimeout(() => onPlay(),250)
  }

  async function run() {
    await changeFaceDetector(SSD_MOBILENETV1)
    await faceapi.loadFaceLandmarkModel('static/preprocess_models')
    const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
    const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream
  }

  function updateResults() { }

  $(document).ready(function () {
    run()
    initFaceDetectionControls()
  })
</script>
</body>

</html>