<html>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>

<body>
    <div class="container ">
        <br><br>
        <form action="/recognize">
            <input class=" btn btn-success  btn-block" type="submit" value="Recognize" />
        </form>
        <form action="/users">
            <input class=" btn btn-primary  btn-block" type="submit" value="Manage user" />
        </form>
        <form action="/books">
            <input class=" btn btn-primary  btn-block" type="submit" value="Manage book" />
        </form>
        <form action="/checkin/log">
            <input class=" btn btn-warning  btn-block" type="submit" value="Check in log" />
        </form>
    </div>
</body>

</html>